body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/images/cars3.jpg");
  background-size: cover;
}

.innerContainer {
  color: black;
  width: 1000px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  inset: 0;
}

.innerContainer::before {
}

.item1,
.item2,
.item3 {
  background-color: aqua;
  border: 1px solid red;
  width: 50%;
  text-align: center;
}

.video {
  display: none;
}
