* {
  box-sizing: border-box;
}

:root {
  --header-height: 3rem;
}

body {
  margin: 0;
}

/* Specific classes */
.header {
  padding: 0.5rem 1rem;
  background: black;
  color: #fff;
  position: fixed;
  height: var(--header-height);
  transition: height 400ms; /*Mjukare övergång*/
  overflow-y: hidden;
  right: 0;
  top: 0;
  left: 0;
}
.main {
  margin-top: var(--header-height);
}

/* Utility classes */
.m0 {
  margin: 0;
}
.ph1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

/* Toggla av och på en class */
.open {
  height: 100%;
}
