ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: violet;
}

li {
    float: left;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: aquamarine;
}

.ulExempelTwo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: violet;
}

.liExempelTwo {
    float: left;
}

.liExempelTwo {
float: left;
}

.linkExempelTwo {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #04AA6D;
  }
