.container {
  border: solid blue 2px;
  height: 98vh;
}

.containerText {
  background-color: lightblue;
  height: 400px;
  width: 400px;
}

.containerButton {
  border: solid 2px black;
  background-color: lightcoral;
}

button {
  background-color: lightseagreen;
}
