body {
  margin: 0; /*Ta bort margin i hela bodyn*/
}
.menuIcon {
  color: white;
  font-size: 60px; /*Detta gör så iconen blir större*/
  cursor: pointer;
}
nav {
  background-color: black;
}
.navText {
  display: none; /* Nu syns inte "Ilovecode" i mobile*/
}

/* Detta är styling för mobile*/
.menu {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  display: none;
}
li {
  list-style: none;
  font-size: 28px;
  padding: 30px;
  color: white;
}

li:hover {
  color: goldenrod;
  cursor: pointer;
}
a {
  text-decoration: none;
}

main {
  padding: 10px;
}
@media (min-width: 850px) {
  .menuIcon {
    display: none;
  }

  .navText {
    text-transform: uppercase; /* Detta ändrar till stora bokstäver*/
    display: block; /*Nu syns "Ilovecode" i desktop*/
  }
  /*Här är styling för navbaren för desktop*/
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 50px;
    text-align: center;
  }
  li {
    float: left;
    padding: 0 30px;
  }
}
