body {
  background-color: black;
  color: white;
}

.sectionStartView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightMode {
  background-color: white;
  color: black;
}

.button {
  background-color: pink;
  height: 100px;
  width: 300px;
  border-radius: 50px;
}
