.container {
  border: solid black 2px;
  height: 98vh;
  color: #000;
}

.containerTitle {
  background-color: lightpink;
}

.containerStoryText {
  background-color: lightcoral;
}

.containerVideo {
  background-color: lightgray;
}

.containerButton {
  background-color: lightskyblue;
}

.image {
  width: 5%;
}
