.container {
  background-color: #1f1e2a;
  background-image: url(./images/cars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerTitle {
  color: #fff;
}

.innerContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.containerStoryText {
  background-color: lightcoral;
  width: 150vh;
  border-radius: 20px;
  border: dotted 4px yellow;
  padding: 20px;
}

.containerVideo {
  background-color: lightgray;
}

.containerButton {
  background-color: lightskyblue;
}

.image {
  width: 5%;
}
