.container {
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/doc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.containerInner {
  /* background-color: aquamarine; */
  width: 120vh;
  height: 40vh;
  border: solid 2px black;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-direction: column-reverse;
}

.containerContent {
  background-color: lightblue;
  width: 100vh;
  height: 30vh;
  border: solid 2px black;
  display: flex;
  flex-direction: row-reverse;
}

.containerText {
  align-items: flex-start;
  border: solid 2px black;
  padding: 20px;
}

.containerButton {
  display: flex;
  align-items: flex-end;
}

.containerImage {
  padding: 20px;
}

.imageStartSide {
  height: 50%;
}
